/* shared styles */
*{
    font-family: Mulish;
}

/* header */

.header{
    max-width: 1170px;
    margin: 0 auto;
}
/*  nav styles */
nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .web-name{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-icon{
    width: 48px;
    height: 56px;
}
#check-btn{
    font-size: 18px;
    margin-right: 10px;
    float:left;
    display:none ;
}
#check{
    display: none;
}
.nav-tittle{
    color: #131318;
     font-size: 36px;
     font-weight: 800;
}
.tittle-us{
    color: #FF5400;
    font-size: 36px;
     font-weight: 800;
}
.home-bar{
    background:#FF5400;
}
.nav-about{
    display: flex;
}
nav  .nav-about  a{
    text-decoration: none;
    margin-right: 40px;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}
/* end nav */
/* explore travels styles */
.explore-container{
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    text-align: center;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url('../Images/Group\ 13\ \(1\)\ \(1\).png');
}
.explore-items{
    text-align: center;
    padding: 90px;
}
.explore-items .explore-tittle{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.expolore-description{
    color: #FFF;
    font-size: 16px; 
    font-weight: 400;
}
.explore-input-items{
    width: 760px;
    height: 50px;
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 16px;
}
.input{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
}
.button{
    width: 175px;
    border-radius: 8px;
background: #FF5400;
color: #FFF;
font-size: 16px;
font-weight: 700;
}
/* our popular tour  */
.our-popular{
   
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 116px;
    gap: 40px;
}
.popular-contain-tittle{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    margin-top: 32px; 
 
}
.popular-img{
    width: 540px;
height: 550px;
    border-radius: 16px; 
}
/* choese your destinaition */
.yours-destination{
    max-width: 1170px;
    margin: 0 auto;  
    margin-top: 116px;
    }
.yours-contain{
    text-align: center;
}
.img-row{
    display: flex;
    gap: 20px;
}
.img-one{
    width: 573px;
    height: 300px; 
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
}
.img-2{
    width: 573px;
    height: 300px;  
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 8.png'), lightgray -101px -108.075px / 135.253% 172.05% no-repeat; 
}
.city{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    padding-top: 132px;
}
.img-row-two{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 24px;
    margin-top: 24px;
}
.img-3{
    width: 374px;
height: 286px;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 6.png '), lightgray 50% / cover no-repeat;
}
.img-4{
    width: 474px;
height: 286px;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png '), lightgray 50% / cover no-repeat;
}
.img-5{
    width: 274px;
height: 286px;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png '), lightgray 50% / cover no-repeat;
}
.img-row-three{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.img-6{
    width: 473px;
height: 300px;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
}
.img-7{
    width: 673px;
height: 300px;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
}
/* why chose us */
.why-chose-us{
    max-width: 1170px;
    margin: 0 auto;  
    margin-top: 116px;
}
.why-items-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.why-contain{
    text-align: center;
  
}
.contain-item-one{
    width: 573px;
    height: 284px; 
    padding-left: 32px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.contain-item-two{
    width: 573px;
    height: 284px;
    padding-left: 32px;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.why-items-container-two{
   margin-top: 24px;
   margin-right: auto;
   margin-left: auto;
   align-items: center;
   
}
.contain-item-three{
    
    width: 573px;
    height: 284px; 
    padding-left: 32px;
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05); 
}
h1{
    color: #131318; 
    font-size: 40px;
    font-weight: 800;
}
/* newsletter  */
.newsletter-container{
    max-width: 1170px;
    margin: 0 auto;  
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.why-tittle{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-items{
    padding-left: 32px;
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-items input{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
margin-bottom: 24px;
}
.Newsletter-btn{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
}
.newsletter-img{
    width: 672px;
    height: 422px; 
    border-radius: 16px;
background: url('../Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat; 

}
.top{
    position: relative;
    top: 250px;
    left: 300px;
    text-align: center;
    width: 324px;
    height: 120px;
    padding-top: 10px;
    transform: rotate(-19.628deg);  
    border-radius: 16px;
background: #FF5400;
}
.h5{
    color: #FFF;   
    font-size: 24px;
    font-weight: 400;
}
.save{
    color: #FFF;   
    font-size: 32px;
    font-weight: 800;
}







@media screen and (max-width:600px) {
.nav-about{
    display: none;
}
#check-btn{
    display: block;
}
   .explore-container{
    width: 100%;
    height: 500px;
    border-radius: 16px;
   }
   .explore-items{
    padding-top: 25px;
   }
   .expolore-description{
    font-size: 14px;
    line-height: 20px;
   }
   .nav-tittle{
    font-size: 20px;
   }
    .explore-input-items{
    display: flex;
   width: 287px;
   flex-direction: column;
   gap: 16px; 
   
   }
   .our-popular{
    display: flex;
    flex-direction: column;
   }
   /* chose your destination */
   .img-row , .img-row-three{
    flex-direction: column;
   
    background-repeat: no-repeat
}
.img-row-two{
grid-template-columns: 1fr;

background-repeat: no-repeat;
}
.img-3 , .img-4 , .img-5 , .img-6{
    width:100%;
height: 176px;
background-repeat: no-repeat;
}
/* why choose us */
.why-items-container{
    flex-direction: column;
} 
.contain-item-one , .contain-item-two , .contain-item-three {
    width: 335px;
height: 289px;
margin-left: 32px;
}
/*  newslatter */
.newsletter-container{
    flex-direction: column;
}
.newsletter-img{
width: 100%;
}
.top{
    position: relative;
    
    left: 200px;
}


}
